<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
    <link rel="stylesheet"  type='text/css' href="<%= assetFingerprint('/stylesheets/style.css') %>"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"  type='text/css' href="<%= assetFingerprint('/stylesheets/auth.css') %>"/>
    <link rel="stylesheet"  type='text/css' href="<%= assetFingerprint('/stylesheets/mainpage.css') %>"/> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.6/css/mdb.min.css" />
    <link rel="stylesheet"  type='text/css' href="<%= assetFingerprint('/stylesheets/vacation.css') %>"/> 
    <link rel="stylesheet"  type='text/css' href="<%= assetFingerprint('/stylesheets/quality.css') %>"/> 
   <style>
      h2{
        font-family: 'Old Standard TT', serif;
        font-size: 40px;
        margin-top: 20px;
      }
   </style>
    <title>УКРКОМ</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
    <article id="article">
        <header id="main-nav">
          <h1 class="logo">УКРКОМ</h1>
          <div id="bun"><div class="mmm-burger"></div></div>
          <div id="logotype"><img src="/images/logo1.png"> </div>
          <div class="phone"><h2>тел.(044)205-55-55 </h2></div>
        </header>  
        </article>
        <aside id='sidebar'>
            <nav id='mobile-nav'>
              <ul>
                <li class="nav-item"><a href="/index"><h3>Головна</h3></a></li>
                <li class="nav-item"><h3>Про нас</h3></li>
                  <ul class="sub-nav">
                    <li class="sub-nav-item"> <a href="/licency"><h4>Ліцензії</h4></a></li>
                    <li class="sub-nav-item"> <a href="/vacation"><h4>Вакансії</h4></a></li>
                    <li class="sub-nav-item"><a href="/quality"><h4>Якість</h4></a></li>
                  </ul>
                <li class="nav-item"><h3>Передача даних</h3></li>
                <ul class="sub-nav">
                    <li class="sub-nav-item"><a href="/pdabout"><h4>Послуга ПД</h4></a></li>
                    <li class="sub-nav-item"><a href="/pdprice"><h4>Тарифи</h4></a></li>
                    <li class="sub-nav-item"><a href="/pdorder"><h4>Замовити послугу</h4></a></li>
                  </ul>
                <li class="nav-item"><h3>Телефонний зв'язок</h3></li>
                <ul class="sub-nav">
                        <li class="sub-nav-item"><a href="/telprice"><h4>Тарифи</h4></a></li>
                        <li class="sub-nav-item"><a href="/telcontract"><h4>Договір</h4></a></li>
                        <li class="sub-nav-item"><a href="/telservice"><h4>Довідник екстренних служб</h4></a></li>
                        <li class="sub-nav-item"><a href="/teldocs"><h4>Нормативні документи</h4></a></li>
                  </ul>
                <li class="nav-item"><a href="/payment"><h3>Оплата послуг</h3></a></li>
                <li class="nav-item" > <h3>Новини</h3> </li>
                <ul class="sub-nav">
                    <li class="sub-nav-item"><a  href="/allnews"><h4>Всі новини</h4></a></li>
                  <li class="sub-nav-item"><a  href="/auth"><h4>Додати новину</h4></a></li>
                </ul>
                <li class="nav-item"><a href="/contacty"><h3>Контакти</h3></a></li>
                <!--<ul class="sub-nav">
                    <li class="sub-nav-item"><h4>Inner Page</h4></li>
                      <li class="sub-nav-item"><h4>Inner Page</h4></li>
                        <li class="sub-nav-item"><h4>Inner Page</h4></li>
                  </ul>
                <li class="nav-item"><h3>Contact Us</h3></li> 
              </ul> -->
          </nav>
        </aside>
        </div>
        </div>
        </div>